name: debug

on:
  workflow_dispatch:
    inputs:
      version:
        type: string

jobs:
  debug:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4.2.1
        with:
          java-version: '21'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -PreleaseVersion=${{ inputs.version }}

      - name: Authneticate JFrog
        id: jfrog
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: "https://consensys.jfrog.io"
        with:
          oidc-provider-name: 'github'
          oidc-audience: ''

      - run: echo "|${{ steps.jfrog.outputs.oidc-user }}|" | base64
      
      - name: Publish Artifactory
        id: artifactory
        run: ./gradlew artifactoryPublish -PreleaseVersion=${{ inputs.version }}
        env:
          ARTIFACTORY_USER: ${{ steps.jfrog.outputs.oidc-user }}
          ARTIFACTORY_PASSWORD: ${{ steps.jfrog.outputs.oidc-token }}
