name: docker-build-fleet-linea

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      besu_version:
        description: 'the commit or version of besu to use'
        default: 'main'
        required: false
        type: string
      fleet_version:
        description: 'the commit or version of the fleet plugin to use'
        default: 'main'
        required: false
        type: string
      linea_sequencer_version:
        description: 'the commit or version of linea_sequencer plugin to use'
        default: 'main'
        required: false
        type: string


jobs:
  fleet:
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.parallel=true -Dorg.gradle.workers.max=2

    steps:
      - name: checkout fleet
        uses: actions/checkout@v3
        with:
          repository: Consensys/besu-fleet-plugin
          ref: '${{ github.event.inputs.fleet_version }}'        

      - name: set up jdk21
        uses: actions/setup-java@v4.2.1
        with:
          java-version: 21
          distribution: 'adopt'

      - name: cache gradle dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/gradle/versions.gradle') }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ hashFiles('**/gradle/versions.gradle') }}
            ${{ runner.os }}-gradle-

      - name: Assemble
        run: ./gradlew --no-daemon clean compileJava compileTestJava assemble

      - name: Upload jar
        uses: actions/upload-artifact@v3
        with:
          name: fleet
          path: build/libs/

  linea_sequencer:
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.parallel=true -Dorg.gradle.workers.max=2
      JAVA_OPTS: -Xmx2g

    steps:
      - name: checkout linea_sequencer
        uses: actions/checkout@v3
        with:
          repository: Consensys/linea-sequencer
          ref: '${{ github.event.inputs.linea_sequencer_version }}'
          
      - name: Install Go
        uses: actions/setup-go@v5

      - name: Set up GCC
        uses: egor-tensin/setup-gcc@v1

      - name: set up jdk21
        uses: actions/setup-java@v4.2.1
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Assemble
        run: ./gradlew --no-daemon build

      - name: Upload jar
        uses: actions/upload-artifact@v3
        with:
          name: linea_sequencer
          path: sequencer/build/libs/

  besu:
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.parallel=true -Dorg.gradle.workers.max=2

    steps:
      - name: checkout besu
        uses: actions/checkout@v3
        with:
          repository: hyperledger/besu
          ref: '${{ github.event.inputs.besu_version }}'
          submodules: true

      - name: set up jdk21
        uses: actions/setup-java@v4.2.1
        with:
          java-version: 21
          distribution: 'adopt'

      - name: setup gradle
        uses: gradle/actions/setup-gradle@9e899d11ad247ec76be7a60bc1cf9d3abbb9e7f1
        with:
          cache-disabled: true

      - name: get a besu tar
        run:
          ./gradlew distTar

      - name: Upload tarball
        uses: actions/upload-artifact@v3
        with:
          name: besu
          path: 'build/distributions/besu*.tar.gz'
          compression-level: 0

  docker:
    needs: 
      - fleet
      - linea_sequencer
      - besu
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: checkout
        uses: actions/checkout@v3    

      - name: download fleet
        uses: actions/download-artifact@v3
        with:
          name: fleet
          path: docker/

      - name: download linea_sequencer
        uses: actions/download-artifact@v3
        with:
          name: linea_sequencer
          path: docker/

      - name: download besu
        uses: actions/download-artifact@v3
        with:
          name: besu
          path: docker/

      - name: build the package 
        run: |
          cd docker
          mkdir -p besu/plugins
          tar -xzvf besu-*.tar.gz -C besu --strip-components=1
          mv besu-fleet-plugin-*.jar ./besu/plugins/
          mv linea-sequencer-*.jar ./besu/plugins/
          ls -la ./besu/plugins/

      - name: login to docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER_RW }}
          password: ${{ secrets.DOCKER_PASSWORD_RW }}

      - name: set docker build args
        run: |
          echo "BUILD_DATE=$(date --rfc-3339=date)" >> ${GITHUB_ENV}

      - name: Build and push
        uses: docker/build-push-action@v6
        env:
          IMAGE_TAG: ${{ github.sha }}
        with:
          context: docker/.
          platforms: linux/amd64
          build-args: |
            VCS_REF=${{ github.sha }}
            BUILD_DATE=${{ env.BUILD_DATE }}
          push: true
          tags: |
            consensys/besu-linea-fleet:${{ env.IMAGE_TAG }}
  